#divid{

border: 2px solid black;
width: 200px;
padding: 10px;
/* margin-left: 400px; */
}
#but{
margin-left: 20px;
color:brown;
border-radius: 100px;
}#divid2{

    border: 2px solid black;
    width: 200px;
    padding: 10px;
    /* margin-left: 400px; */
    }